@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

:root {
  --background: #f3f3f3;
  --foreground: #191A23;
  --highlight: #B9FF66;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-highlight: var(--highlight);
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk), Arial, sans-serif;
}

h1 {
  font-family: var(--font-space-grotesk);
  font-weight: 500;
  font-size: 60px;
}

h2 {
  font-family: var(--font-space-grotesk);
  font-weight: 500;
  font-size: 40px;
}

h3 {
  font-family: var(--font-space-grotesk);
  font-weight: 500;
  font-size: 30px;
}

h4 {
  font-family: var(--font-space-grotesk);
  font-weight: 500;
  font-size: 20px;
}

p {
  font-family: var(--font-space-grotesk);
  font-weight: 400;
  font-size: 18px;
}

#homesection p {
  font-family: var(--font-space-grotesk);
  font-weight: 400;
  font-size: 20px;
}

@media (max-width: 768px) {
h1 {
  font-size: 43px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}
}